@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .transition-transform {
      transition-property: transform;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
    }
  }

  .masonry-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 2rem;
  }
  
  @supports (grid-template-rows: masonry) {
    .masonry-grid {
      grid-template-rows: masonry;
    }
  }